.installed.cfg
bin
build
lib
local
share
include
*.egg-info
develop-eggs
eggs
.eggs
*.pyc
*.pyo
dist
cc/i18n/mo/*.mo
cc/i18n/i18n
cc/i18n/transstats.csv
checkouts
lib
include
parts
tmp_sdist_setup.py
