[buildout]
develop = . 
parts = cc.i18n
find-links = http://labs.creativecommons.org/~paulproteus/eggs/ http://a9.creativecommons.org/~cwebber/eggs/
prefer-final=false

[cc_i18ntools]
recipe=zc.recipe.egg
interpreter=python
dependent-scripts = true
